* {
  --my-light-pink: #FC8EAC;
  --my-dark-pink: #E75480;
  --my-blue: #0b2c74;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFB3C6;
}


h1 {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

header {
    background-color: var(--my-dark-pink);
    text-align: center;
    padding: 40px 20px;
}

main, footer {
  padding: 20px;
  max-width: 800px;
  margin: auto; 
}

section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--my-light-pink);
}


button {
    font-family: Arial, sans-serif;
    color: var(--my-blue);
    background-color: #FFB3C6;
    border: none;
    margin: 5px;
    cursor: pointer;
    display: inline-block; 
    padding: 0 10px; 
}


nav {
    text-align: center;
    background-color: #FFB3C6;
    position: fixed; 
    top: 0; 
    width: 100%;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--my-blue);
    font-weight: bold;
}

h1, h2 {
  color: var(--my-blue);
  font-family: Arial, sans-serif;
}

section {
    text-align: center;
    background-color: var(--my-light-pink);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

.Projekte {
    text-align: left;
    width: 80%;
    margin: 10px auto; 
    padding: 10px;
    border-radius: 6px;
    background-color: #6a597251;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}