h1 {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

header {
    background-color: rgb(255, 0, 132);
    text-align: center;
    padding: 40px 20px;
}

#AboutMe {
    font-family: Arial, sans-serif;
    color: #004080;
    background-color:  rgb(255, 0, 132);
    text-align: center;
    height: 40px;
    margin: 1px;
    width: 100px;
    border: 2px solid rgb(255, 0, 132);
}

#Projects {
    font-family: Arial, sans-serif;
    color: #004080;
    background-color:  rgb(255, 0, 132);
    text-align: center;
    margin: 1px;
    height: 40px; 
    width: 100px; 
    border: 2px solid rgb(255, 0, 132)           
}

#IMS {
    font-family: Arial, sans-serif;
    color: #004080;
    background-color:  rgb(255, 0, 132);
    text-align: center;
    height: 40px;
    margin: 1px;
    width: 100px;
    border: 2px solid rgb(255, 0, 132);
}

aside {
    height: 500vh;
    background-color: rgb(255, 0, 132);
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;  /* Adjust as needed */
}

h1, h2 {
  color: #004080;
  font-family: Arial, sans-serif;
}

section {
    text-align: center;
    background-color: rgb(255, 136, 0);
}